<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Car List</title>
</head>

<body>
   <h1>Список машин</h1>
   <div class="car-list">
      {% for car in cars %}
      <div class="car-card">
         <p class="car-make">{{ car.make }}</p>
         <p class="car-model">{{ car.model }}</p>
         <a href="{% url 'car_detail' car.id %}" class="view-details">Посмотреть детали</a>
      </div>
      {% endfor %}
   </div>
   {% if user.is_authenticated %}
   <a href="{% url 'car_create' %}">Добавить автомобиль</a>
   {% endif %}
</body>

</html>