<!DOCTYPE html>
<html>
   <head>
      <title>Авторизация</title>
      <link rel="stylesheet" href="styles.css" />
   </head>
   <body>
      <form action="">
         <fieldset>
            <legend>Авторизация</legend>
            <label for="user">Логин:</label>
            <input type="text" id="user" name="user">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Войти">
         </fieldset>
      </form>
   </body>
</html>