# Файлы виртуальной среды
venv/
env/

# Скомпилированные Python файлы
__pycache__/
*.pyc

# Миграции
*.sqlite3

# Логи
*.log

# Настройки и данные IDE
.idea/
.vscode/

# Статические и медиа файлы
staticfiles/
media/
